/* vbtns fonts*/
/*vbtns colors*/
* {
  font-family: "Barlow", sans-serif;
  background-color: #e6faf7;
}

.vbtn {
  color: #ffffff;
  padding: 15px 40px;
  border-radius: 12px;
  margin: 5px;
  border-style: none;
  cursor: pointer;
  display: inline;
  font-size: 15px;
}

.vbtn:hover {
  opacity: 0.5;
  color: #ffffff;
}

.primary-boring {
  background-color: #3333ff;
}

.secondary-boring {
  background-color: #ff3333;
}

.cta-boring {
  background-color: #33ff33;
}

.link-boring {
  color: #3333ff;
  background-color: transparent;
}

.primary-fun {
  background-color: #4c5270;
  color: #ffffff;
}

.secondary-fun {
  background-color: #bcece0;
  color: black;
}

.cta-fun {
  background-color: #f652a0;
}

.fun {
  border-radius: 8px;
  font-size: 18px;
  font-family: "Caveat", cursive;
}

.fun:hover {
  transform: translateY(-18px);
}

.primary-cutesy {
  background-color: #2ff3e0;
  color: black;
}

.secondary-cutesy {
  background-color: #f51720;
}

.cta-cutesy {
  background-color: #f8d210;
  color: black;
}

.link-cutesy {
  background-color: transparent;
  color: #fa26a0;
}

.cutesy {
  text-transform: lowercase;
  font-size: 14px;
  font-family: "Jost", sans-serif;
}

.boring {
  border-radius: 0px;
  border: 2px solid black;
}

.link {
  border-style: none;
  background-color: transparent;
  color: blue;
}

.link-fun {
  color: #36eee0;
  background-color: transparent;
  border-style: none;
}

.fun:hover {
  background-color: #4c5270;
  opacity: 0.5;
}

.cutesy:hover {
  background-color: #2ff3e0;
  opacity: 0.5;
}

.primary-classy {
  background-color: #1f192b;
}

.secondary-classy {
  background-color: #eec7bb;
  color: black;
}

.cta-classy {
  background-color: #3b0918;
}

.link-classy {
  color: #4e706a;
  background-color: transparent;
}

.classy {
  border-radius: 3px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}

.classy:hover {
  background-color: #3b0918;
  opacity: 0.5;
  transform: translateY(2px);
}

.primary-weird {
  background-image: linear-gradient(to right, #003973 0%, #e5e5be 51%, #003973 100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.primary-weird:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.secondary-weird {
  background-image: linear-gradient(to right, #16a085 0%, #f4d03f 51%, #16a085 100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.secondary-weird:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.cta-weird {
  background-image: linear-gradient(to right, #dc2424 0%, #4a569d 51%, #dc2424 100%);
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.cta-weird:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.link-weird {
  background-color: transparent;
  color: cyan;
  border-style: none;
}

.link-weird:hover,
.link-classy:hover,
.link-cutesy:hover,
.link-fun:hover,
link-boring:hover {
  background-color: transparent;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

.link-boring {
  border-style: none;
}

/*# sourceMappingURL=style.css.map */
