/* vbtns fonts*/
$default-font: "Barlow", sans-serif;
$bouncy-font: "Caveat", cursive;
$clean-font: "Jost", sans-serif;
$important-font: "Secular One", sans-serif;

/*vbtns colors*/
$default-background: #e6faf7;
$default-text-color: #ffffff;
$link-hover: #ffffff;
$p-def: #3333ff;
$s-def: #ff3333;
$link-def: #3333ff;
$cta-def: #33ff33;
$p-bounce: #4c5270;
$s-bounce: #bcece0;
$cta-bounce: #f652a0;
$p-clean: #2ff3e0;
$s-clean: #f51720;
$cta-clean: #f8d210;
$p-imp: #1f192b;
$s-imp: #eec7bb;
$cta-imp: #3b0918;
$p-weird: linear-gradient(
  to right,
  #003973 0%,
  #e5e5be 51%,
  #003973 100%
);
$s-weird: linear-gradient(
  to right,
  #16a085 0%,
  #f4d03f 51%,
  #16a085 100%
);
$cta-weird: linear-gradient(
  to right,
  #dc2424 0%,
  #4a569d 51%,
  #dc2424 100%
);
$link-bg: transparent;


$link-border-style: none;
$default-font-size: 15px;
* {
  font-family: $default-font;
  background-color: $default-background;
}
.vbtn {
  color: $default-text-color;
  padding: 15px 40px;
  border-radius: 12px;
  margin: 5px;
  border-style: none;
  cursor: pointer;
  display: inline;
  font-size: $default-font-size;
}
.vbtn:hover {
  opacity: 0.5;
  color: $link-hover;
}
.primary-boring {
  background-color: $p-def;
}
.secondary-boring {
  background-color: $s-def;
}
.cta-boring {
  background-color: $cta-def;
}
.link-boring {
  color: $link-def;
  background-color: $link-bg;
}
.primary-fun {
  background-color: $p-bounce;
  color: $link-hover;
}
.secondary-fun {
  background-color: $s-bounce;
  color: black;
}
.cta-fun {
  background-color: $cta-bounce;
}
.fun {
  border-radius: 8px;
  font-size: 18px;
  font-family: $bouncy-font;
}
.fun:hover {
  transform: translateY(-18px);
}
.primary-cutesy {
  background-color: $p-clean;
  color: black;
}
.secondary-cutesy {
  background-color: $s-clean;
}
.cta-cutesy {
  background-color: $cta-clean;
  color: black;
}
.link-cutesy {
  background-color: transparent;
  color: #fa26a0;
}
.cutesy {
  text-transform: lowercase;
  font-size: 14px;
  font-family: $clean-font;
}
.boring {
  border-radius: 0px;
  border: 2px solid black;
}
.link {
  border-style: none;
  background-color: transparent;
  color: blue;
}

.link-fun {
  color: #36eee0;
  background-color: transparent;
  border-style: none;
}
.fun:hover {
  background-color: #4c5270;
  opacity: 0.5;
}
.cutesy:hover {
  background-color: #2ff3e0;
  opacity: 0.5;
}
.primary-classy {
  background-color: #1f192b;
}
.secondary-classy {
  background-color: #eec7bb;
  color: black;
}
.cta-classy {
  background-color: #3b0918;
}
.link-classy {
  color: #4e706a;
  background-color: $link-bg;
}
.classy {
  border-radius: 3px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Secular One", sans-serif;
}
.classy:hover {
  background-color: #3b0918;
  opacity: 0.5;
  transform: translateY(2px);
}
.primary-weird {
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #e5e5be 51%,
    #003973 100%
  );
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.primary-weird:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.secondary-weird {
  background-image: linear-gradient(
    to right,
    #16a085 0%,
    #f4d03f 51%,
    #16a085 100%
  );
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.secondary-weird:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.cta-weird {
  background-image: linear-gradient(
    to right,
    #dc2424 0%,
    #4a569d 51%,
    #dc2424 100%
  );

  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
}

.cta-weird:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.link-weird {
  background-color: transparent;
  color: cyan;
  border-style: none;
}
.link-weird:hover,
.link-classy:hover,
.link-cutesy:hover,
.link-fun:hover,
link-boring:hover {
  background-color: transparent;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.link-boring{
  border-style: none;
}



